/**
 *  Default styles for simple-md-wiki
 *  Copyright (C) 2016-2017  Brooks Kline <brookskline@caiyos.com>
 *
 *  This file is part of simple-md-wiki.
 *
 *  Simple-md-wiki is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  Simple-md-wiki is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program. If not, see <http://www.gnu.org/licenses/>.
 *
 */


/**
 * Structure
 *
 */

html {
  font-size: 14px;
  background-color: #666;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #333;
  width: 60%;
  background-color: #fff;
  margin: 0 auto;
  padding: 5px 40px 15px;
  border: 1px solid #333;
  border-top: 0;
  border-bottom: 0;
  position: relative;
  /** loading via javascript: **/
  display: none;
}

#Branding {
  position: relative;
  margin: 0 0 5px;
  padding: 0 0 18px;
  height: 30px;
  border-bottom: 2px solid #999;
}

#Home_Link p {
  position: absolute;
  font-size: 1rem;
  margin: 0;
}

#Home_Link a {
  font-size: .9rem;
  font-weight: bold;
  padding: .15rem 1rem;
  background-color: #792269;
  color: #fff;
  height: auto;
  display: block;
}

#Home_Link a:hover {
  background-color: #ce3ab6;
}

#Logo {
  height: 43px;
  width: auto;
}

#Search {
  position: absolute;
}

#B_Search {
  border: 3px solid #333;
  background-color: #333;
  color: #fff;
}

#B_Search:hover {
  border-color: #777;
  background-color: #777;
  color: #fff;
  cursor: pointer;
}

#I_Search {
  border: 3px solid #999;
}

#Publish {
  background-image: none;
  background-position: 0 50%;
  background-repeat: no-repeat;
  position: absolute;
  padding: 0 0 0 30px;
}

#Publish.active {
  background-image: url('/Images/Publish_Indicator.gif');
}

#B_Publish {
  border: 3px solid #AC4311;
  background-color: #AC4311;
  color: #fff;
}

#B_Publish:hover {
  border-color: #CF4913;
  background-color: #CF4913;
  color: #fff;
  cursor: pointer;
}

#Home_Link p, #Search, #Publish {
  top: 17px;
}

#Home_Link p, #Search {
  left: 170px;
}

#Publish {
  right: 50px;
}

header {
  margin: 20px 0 0;
  position: relative;
}

header p.breadcrumbs {
  padding: 0;
  margin: .25rem .1rem;
  font-style: italic;
  font-weight: bold;
}

header h1.title {
  margin: 0;
  padding: .4rem 1rem;
  color: #fff;
  background-color: #666;
  font-size: 1.9rem;
  border: 0;
}

header p.author {
  margin: 0;
  padding: 4px 10px;
  color: #fff;
  background-color: #aaa;
  font-style: italic;
  font-weight: bold;
  font-size: 90%;
}

header p.date {
  margin: 0;
  padding: 4px 10px;
  color: #fff;
  background-color: #aaa;
  font-weight: bold;
  font-size: 85%;
  position: absolute;
  bottom: 0;
  right: 0;
}

#TOC {
  background-color: #eee;
  margin: 0 0 1rem;
  padding: .5rem 1rem 0;
}

#TOC ul {
  margin: 0;
  padding: 0 0 .75rem 0;
  list-style-type: none;
}

#TOC ul ul {
  margin: 0;
  padding: 0;
}

#TOC ul a {
  color: #000;
}

#TOC ul > li {
  margin: .25rem 0 0;
  padding: 0;
  font-weight: bold;
  list-style-type: none;
}

#TOC ul > li li {
  margin: 0;
  padding: 0 0 0 1rem;
  font-weight: normal;
  list-style-type: none;
  font-size: .9rem;
}

#Search_Results {
  display: none;
  margin-bottom: 30px;
}

#Search_Results .page {
  font-weight: bold;
  margin: 1.5rem 0 0;
}

#Search_Results .page a {
  font-size: 1.5rem;
  display: block;
  margin: 1.5rem 0 .45rem;
}

#Search_Results .no-results {
  color: red;
  font-weight: bold;
}

#Search_Results .result-string {
  background-color: #ffe672;
  color: #000;
  font-weight: normal;
}

#Sitetree {
  margin-top: 2rem;
}

#Footer {
  margin: 30px 0 0;
  border-top: 3px solid #999;
  color: #ccc;
  clear: both;
}

#Footer a {
  padding: 0 .5rem;
  font-size: .9rem;
}


/**
 * Typography
 *
 */

a {
  color: #792269;
  text-decoration: none;
}

a:hover {
  color: #ce3ab6;
  text-decoration: underline;
}

.sourceCode code a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5rem 0 .5rem;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative;
  line-height: 2.25rem;
  color: #000;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  margin: 1.75rem 0 1.25rem;
  padding-bottom: .25rem;
  border-bottom: 2px dotted #aaa;
}

body.root h1 {
  margin: 1rem 0 0;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 1rem 0 0;
}

h2 {
  font-size: 1.75rem;
  color: #002175;
}

h3 {
  font-size: 1.55rem;
  color: #133faf;
  margin: 1rem 0 .5rem;
}

h4 {
  font-size: 1.35rem;
  color: #3f5899;
  margin: 1.25rem 0 .5rem;
}

h5 {
  font-size: 1.15rem;
  color: #4e6fc1;
  margin: 1.5rem 0 .5rem;
}

h6 {
  font-size: 1rem;
  color: #4e6fc1;
  margin: 1.75rem 0 .5rem;
}

hr {
  border: 0;
  background-color: #aaa;
  height: 1px;
  padding: 0;
}

ul, ol {
  padding-left: 1.5rem;
  margin: 1.5rem 0;
  width: auto;
  /*
  width: 100%;
  */
}

li, li p {
  margin: 1rem 0 0;
  line-height: 1.5rem;
}

body > ul {
}

body > ul > li {
}

body > ul > li > p {
}

li code {
  /* This is a work-around until the issues with li > overflow are fixed! */
  white-space: normal;
}

li li,
li ul li:first-child,
li ol li:first-child {
  margin-top: .75rem;
}

ul > li > ul > li {
  list-style-type: square;
}

li:first-child p {
  margin-top: .5rem;
}

li p:first-child,
li pre {
  margin: 0;
}

li pre {
  margin: .5rem 0;
  width: auto;
}

li pre code {
  white-space: pre;
}

ul > li {
  list-style-type: disc;
}

blockquote {
  border-left: 4px solid #a0c5a9;
  padding: 0 .75rem;
  margin-top: 0;
  margin-bottom: 2.5rem;
  color: #3d8f52;
}

table {
  margin: .5rem 0;
  padding: 0;
  border-collapse: collapse
}

table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n) {
  background-color: #F7F7F7;

}

table td, th {
  padding: .5rem .75rem;
}

table th {
  font-weight: bold;
  border: 1px solid #000;
  text-align: center !important;
  background-color: #5f6174;
  color: #fff;
  letter-spacing: .1rem;
}

table td {
  border: 1px solid #cccccc;
  text-align: left;
}

figure {
  padding: 10px;
  margin: 0 0 1.5rem;
  width: auto;
  text-align: center;
  border: 1px solid #ccc;
  border-left: 0;
  border-right: 0;
}

figcaption {
  clear: both;
  font-style: italic;
  color: #777;
  font-size: 90%;
  text-align: center;
}

img {
  max-width: 100%;
}

img.border {
  border: 1px solid #aaa;
}

img.pad {
  padding: 10px;
}

code, tt {
  color: #0b6d54;
  padding: 0 .15rem;
  border: none;
  background-color: #f7f5ed;
  font-family: Hack, courier, monospace;
  font-size: 1em;
}

pre {
  background-color: #444;
  border: 1px solid #000;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: .5rem 1rem;
  margin: .5rem 0 1rem;
  overflow: auto;
}

pre code, pre tt {
  color: #fff;
  background-color: transparent;
  border: none;
  padding: 0;
}

pre code.sourceCode {
  color: inherit;
}

pre.pre,
pre.display,
pre.address,
pre.code {
  background-color: #fff;
  border-color: #ccc;
}

pre.display {
  font-size: 2.5rem;
  letter-spacing: .5rem;
  padding: .5rem 0 .5rem .5rem;
}

pre.display code {
  font-family: "DejaVu Sans", sans-serif;
  color: #222;
}

pre.address {
  font-weight: bold;
  border: 0;
}

pre.address code {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

pre.ascii {
  padding: 2rem;
}

pre.ascii code {
  color: #fff;
}

pre.pre code {
  color: #333;
}

pre.code {
  margin: 0;
  padding: .25rem .35rem;
  background-color: #f1f1f1;
}

pre.code code {
  color: #1a896d;
}

pre.result-content {
  color: #333;
  background-color: #fff;
  margin: 0 0 7px;
  padding: .35rem .45rem;
  border: 0;
  border-top: 1px dotted #aaa;
  border-bottom: 1px dotted #aaa;
  background-color: #eee;
  white-space: normal;
}

pre.result-content .line {
  color: #a66620;
}

pre.result-content:first-of-type {
}

.transition-basic {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.top-link {
  font-size: .8rem;
  font-weight: bold;
  margin-left: 1rem;
}

div.note,
div.warning {
  margin: 1rem 0;
  padding: 0 .75rem .5rem;
  position: relative;
}

div.note::before,
div.warning::before {
  position: relative;
  background-repeat: no-repeat;
}

div.note p,
div.warning p {
  margin: .4rem 0 0;
}

div.note p:first-child,
div.warning p:first-child {
  margin-top: 1rem;
}

div.note {
  border: .1rem solid #ffe449;
  background-color: #fff8d1;
  color: #000;
}

div.warning {
  border: .1rem solid #ce0d0d;
  background-color: #ffa298;
  color: #000;
}

div.note::before {
  content: 'NOTE:';
  color: #000;
  font-weight: bold;
  left: -0.75rem;
  top: .3rem;
  background-color: #ffe449;
  background-image: url('../Images/Message-Note.png');
  background-position: 0.5rem 0.35rem;
  background-size: 1.3rem;
  padding: .5rem 1rem .5rem 2.4rem;
}

div.warning::before {
  content: 'WARNING!';
  color: #fff;
  font-weight: bold;
  left: -0.75rem;
  top: .3rem;
  background-color: #ce0d0d;
  background-image: url('../Images/Message-Warning.png');
  background-position: .4rem .25rem;
  background-size: 1.6rem;
  padding: .5rem 1rem .5rem 2.5rem;
}
