/**
 *
 * Pandoc_Code_Highlights.css
 *
 */

div.sourceCode { overflow-x: auto; }
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode {
  margin: 0; padding: 0; vertical-align: baseline; border: none;
}
table.sourceCode {
  width: 100%; line-height: 100%; background-color: #303030; color: #cccccc;
}
td.lineNumbers { text-align: right; padding-right: 4px; padding-left: 4px; }
td.sourceCode { padding-left: 5px; }
pre, code.sourceCode { color: #cccccc; background-color: #303030; }
code.sourceCode span.kw { color: #f0dfaf; } /* Keyword */
code.sourceCode span.dt { color: #dfdfbf; } /* DataType */
code.sourceCode span.dv { color: #dcdccc; } /* DecVal */
code.sourceCode span.bn { color: #dca3a3; } /* BaseN */
code.sourceCode span.fl { color: #c0bed1; } /* Float */
code.sourceCode span.ch { color: #dca3a3; } /* Char */
code.sourceCode span.st { color: #cc9393; } /* String */
code.sourceCode span.co { color: #7f9f7f; } /* Comment */
code.sourceCode span.ot { color: #efef8f; } /* Other */
code.sourceCode span.al { color: #ffcfaf; } /* Alert */
code.sourceCode span.fu { color: #efef8f; } /* Function */
code.sourceCode span.er { color: #c3bf9f; } /* Error */
code.sourceCode span.wa { color: #7f9f7f; font-weight: bold; } /* Warning */
code.sourceCode span.cn { color: #dca3a3; font-weight: bold; } /* Constant */
code.sourceCode span.sc { color: #dca3a3; } /* SpecialChar */
code.sourceCode span.vs { color: #cc9393; } /* VerbatimString */
code.sourceCode span.ss { color: #cc9393; } /* SpecialString */
code.sourceCode span.im { } /* Import */
code.sourceCode span.va { } /* Variable */
code.sourceCode span.cf { color: #f0dfaf; } /* ControlFlow */
code.sourceCode span.op { color: #f0efd0; } /* Operator */
code.sourceCode span.bu { } /* BuiltIn */
code.sourceCode span.ex { } /* Extension */
code.sourceCode span.pp { color: #ffcfaf; font-weight: bold; } /* Preprocessor */
code.sourceCode span.at { } /* Attribute */
code.sourceCode span.do { color: #7f9f7f; } /* Documentation */
code.sourceCode span.an { color: #7f9f7f; font-weight: bold; } /* Annotation */
code.sourceCode span.cv { color: #7f9f7f; font-weight: bold; } /* CommentVar */
code.sourceCode span.in { color: #7f9f7f; font-weight: bold; } /* Information */
